* {
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');
  body {
    margin: 0px;
    background-color: #01161D;
    font-family: "Muli",sans-serif;
  }
  
  
  .nav {
    height: 83px;
    width: 90%;
    position: relative;
    margin: 0 auto;
    border-bottom: 1px solid #405875;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .nav > .nav-header {
    display: inline;
  
  }
  
  #show{
   
    display: none;
    visibility: hidden;
  
}
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 45px;
    cursor: pointer;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    margin-right: 30px;
    text-align: end;
    float: right;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 45%;
    justify-content: space-between;

  }
  
  .nav > .nav-links > div > p {
    color: #efefef;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }
  
.nav > .nav-links > div > span {
  color:#BF0068 ;
  font-size: 24px;
}
.nav-title button{
  background-color: #BF0068;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  height: 51px;
  font-size: 18px;
  border: none;
}
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #01161da9;
}

.modal-content{
 margin: 15% auto;
 padding: 20px;
 width: 70%;
 
}
.modal-content h4,
.modal-content p{
text-align: center;
color: #fff;
}

  

.close{
  color: #fff;
  float: right;
  font-size: 40px;
}
.close:hover,.close:focus{
  color:#059224 ;
  text-decoration: none;
  cursor: pointer;
}

  
@media (max-width:950px) {
  #play{
    display: none;
    visibility: hidden;
  }
  #show{
    display: block;
    visibility: visible;
  }
  .nav > .nav-titile > i {
    display: none;
  }
    .nav{
        top: 0;
        display: flex;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-links {
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      left: 115px; 
    }
    .nav > .nav-links > p {
        width: 100%;
        margin: 10px 0;
    }
    .nav > .nav-header > .nav-title {
    
      padding: 25px;
  }
  
}

/* section2 */

.lay-point{
   justify-content: center;
   width: 90%;
  margin-left: auto;
  margin-right: auto;
    margin-bottom: 15px;
    display: flex;
    /* flex-wrap: wrap; */
   align-items: center;
   background-color: #2E40514D;
   border-radius:10px ;

}
.point-layout{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
    padding: 7px 0;
    border-radius: 0.2rem;

}

.icon{
  justify-content: center;
  font-size: 18px;
  color: #fff;
  background-color: #415364;
  margin: 3px;
  width: 7vw;
  height: 2.7vw;
  padding: 11px;
  display: flex; 
  align-items: center;
  cursor: pointer;

}
.text{
  color: #fff;
  border-radius: 100%;
  padding: 1px 6px;
  background: #BF0068;
 align-items: center;
  display: flex;
  margin-right: 2px;
  font-size: 17px;

}

.clicked .text{
  background-color: black;
  color: white;
}

.points > button{
  font-size: 15px;
  color: #fff;
  background-color: #C9036E;
  margin-left: 17px;
  width: 12vw;
  height: 62px;
  border: none;
  border-radius: 6px;
}


.inside{
  color: #fff;
  border-radius: 100%;
  width: 4.5vw;
    height: 4.5vw;
    font-Size: 1.5vw;
  Line-height: 29.05px;
  background: #415364;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inside2{
  color: #fff;
  border-radius: 100%;
  width: 4.5vw;
    height: 4.5vw;
    font-Size: 1.5vw;
  Line-height: 29.05px;
  background: #415364;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicked .baby-green{
  border: 5px solid  #27F361;
  color: white;
}
.baby-green{
  color: #fff;
  background-color: #415364;
  margin: 7px;
  border-radius: 100%;
  display: flex; 
  cursor: pointer;
}
.clicked .Baby-Blue{
  border: 5px solid  #2FEAEA;
  color: white;
}
.Baby-Blue{
  color: #fff;
  background-color: #415364;
  margin: 7px;
  border-radius: 100%;
  display: flex; 
  cursor: pointer;
}
.clicked .yellow{
  border: 5px solid #F2EA24;
  color: white;
}
.yellow{
  color: #fff;
  background-color: #415364;
  margin: 7px;
  border-radius: 100%;
  display: flex; 
  cursor: pointer;
}

.clicked .orange{
  border: 5px solid  #F26413;
  color: white;
}
.orange{
  color: #fff;
  background-color: #415364;
  margin: 7px;
  border-radius: 100%;
  display: flex; 
  cursor: pointer;
}

.clicked .red{
  border: 5px solid  #F50E0E;
  color: white;
}
.red{
  color: #fff;
  background-color: #415364;
  margin: 7px;
  border-radius: 100%;
  display: flex; 
  cursor: pointer;
}

.clicked .pink{
  border: 5px solid  #CE0BD2;
  color: white;
}
.pink{
  color: #fff;
  background-color: #415364;
  margin: 7px;
  border-radius: 100%;
  display: flex; 
  cursor: pointer;
}

.clicked .green{
  border: 5px solid  #057F27;
  color: white;
}
.green{
  color: #fff;
  background-color: #415364;
  margin: 7px;
  border-radius: 100%;
  display: flex; 
  cursor: pointer;
}

.clicked .blue{
  border: 5px solid  #0D86F7;
  color: white;
}
.blue{
  color: #fff;
  background-color: #415364;
  margin: 7px;
  border-radius: 100%;
  display: flex; 
  cursor: pointer;
}

.clicked .gray{
  border: 5px solid  #8C8488;
  color: white;
}
.gray{
  color: #fff;
  background-color: #415364;
  margin: 7px;
  border-radius: 100%;
  display: flex; 
  cursor: pointer;
}

.colors{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.subring1{border: 6px solid #2FEAEA;
  margin: 5px;
  height: 2vw;
  padding: 23px;
  width: 2vw;
  border-radius: 100%;
}
.subring2{border: 6px solid #27F361;
  margin: 5px;
  height: 2vw;
  padding: 23px;
  width: 2vw;
  border-radius: 100%;
}
.subring3{border: 6px solid #F2EA24;
  margin: 5px;
  height: 2vw;
  padding: 23px;
  width: 2vw;
  border-radius: 100%;
}
.subring4{border: 6px solid #F26413;
  margin: 5px;
  height: 2vw;
  padding: 23px;
  width: 2vw;
  border-radius: 100%;
}
.subring5{border: 6px solid #F50E0E;
  margin: 5px;
  height: 2vw;
  padding: 23px;
  width: 2vw;
  border-radius: 100%;
}
.subring6{border: 6px solid #CE0BD2;
  margin: 5px;
  height: 2vw;
  padding: 23px;
  width: 2vw;
  border-radius: 100%;
}
.subring7{border: 6px solid #057F27;
  margin: 5px;
  height: 2vw;
  padding: 23px;
  width: 2vw;
  border-radius: 100%;
}
.subring8{border: 6px solid #0D86F7;
  margin: 5px;
  height: 2vw;
  padding: 23px;
  width: 2vw;
  border-radius: 100%;
}
.subring9{border: 6px solid #8C8488;
  margin: 5px;
  height: 2vw;
  padding: 23px;
  width: 2vw;
  border-radius: 100%;
}
.ring1{
  border: 6px solid #2FEAEA;
  padding: 3px;
  border-radius: 100%;
  background-color: #01161D;
}
.ring2{background-color: #2FEAEA;
  margin: 5px;
  height: 2vw;
  width: 2vw;
  border-radius: 100%;
  padding: 10px;
}
.ring3{
  border: 6px solid #27F361;
  padding: 3px;
  border-radius: 100%;
  background-color: #01161D;
}
.ring4{background-color:#27F361;
  margin: 5px;
  height: 2vw;
  width: 2vw;
  border-radius: 100%;
  padding: 10px;
}
.ring5{
  border: 6px solid #F2EA24;
  padding: 3px;
  border-radius: 100%;
  background-color: #01161D;
}
.ring6{background-color: #F2EA24;
  margin: 5px;
  height: 2vw;
  width: 2vw;
  border-radius: 100%;
  padding: 10px;
}

.ring7{
  border: 6px solid #F26413;
  padding: 3px;
  border-radius: 100%;
  background-color: #01161D;
}
.ring8{
  background-color: #F26413;
  margin: 5px;
  height: 2vw;
  width: 2vw;
  border-radius: 100%;
  padding: 10px;
}

.ring9{
  border: 6px solid #F50E0E;
  padding: 3px;
  border-radius: 100%;
  background-color: #01161D;
}
.ring10{background-color: #F50E0E;
  margin: 5px;
  height: 2vw;
  width: 2vw;
  border-radius: 100%;
  padding: 10px;
}

.ring11{
  border: 6px solid #CE0BD2;
  padding: 3px;
  border-radius: 100%;
  background-color: #01161D;
}
.ring12{background-color: #CE0BD2;
  margin: 5px;
  height: 2vw;
  width: 2vw;
  border-radius: 100%;
  padding: 10px;
}

.ring13{
  border: 6px solid #057F27;
  padding: 3px;
  border-radius: 100%;
  background-color: #01161D;
}
.ring14{background-color: #057F27;
  margin: 5px;
  height: 2vw;
  width: 2vw;
  border-radius: 100%;
  padding: 10px;
}

.ring15{
  border: 6px solid #0D86F7;
  padding: 3px;
  border-radius: 100%;
  background-color: #01161D;
}
.ring16{background-color: #0D86F7;
  margin: 5px;
  height: 2vw;
  width: 2vw;
  border-radius: 100%;
  padding: 10px;
}
.ring17{
  border: 6px solid #8C8488;
  padding: 3px;
  border-radius: 100%;
  background-color: #01161D;
}
.ring18{background-color: #8C8488;
  margin: 5px;
  height: 2vw;
  width: 2vw;
  border-radius: 100%;
  padding: 10px;
}




@media (max-width:900px) {
  .icon {
    font-size: 17px;
    padding: 4px;
    width: 14vw;
    height: 39px;
    margin: 3px;
  }
    
  .points > button {
    width: 25vw;
    height: 45px;
  }


}



@media (max-width:1320px) {
      .lay-point {
        display: block;
        padding: 10px;
    }

    .inside{
      width: 5.8vw;
      height: 5.8vw;
      font-size: 20px;
  }
  .inside2{
    width: 5.8vw;
    height: 5.8vw;
    font-size: 20px;
  }

      .point-layout{
        width: 100%;
      
      }

      .points > button {
        width: 21vw;
        height: 39px;
      }
      
      .icon {
        font-size: 19px;
        padding: 4px;
        width: 15vw;
        height: 35px;
        margin: 3px;
    }
    
    .text {
      padding: 3px 7px;
      margin-right: 2vw;
      font-size: 1.8vw;
    }
    .points{
        text-align: center;
    }
    .subring1 {
      border: 5px solid #2FEAEA;
      padding: 17px;
  }
  .subring2 {
    border: 5px solid #27F361;
    padding: 19px;
}
.subring3 {
  border: 5px solid #F2EA24;
  padding: 17px;
}
.subring4 {
  border: 5px solid #F26413;
  padding: 17px;
}
.subring5 {
  border: 5px solid #F50E0E;
  padding: 17px;
}
.subring6 {
  border: 5px solid #CE0BD2;
  padding: 17px;
}
.subring7 {
  border: 5px solid #057F27;
  padding: 17px;
}
.subring8 {
  border: 5px solid #0D86F7;
  padding: 17px;
}
.subring9 {
  border: 5px solid #8C8488;
  padding: 17px;
}


}

@media (max-width:600px) {
  .lay-point{
    width: 95%;
  display: block;
  }
  .inside{
    width: 8.5vw;
    height: 8.5vw;
    font-size: 16px;
}
.inside2{
  width: 8.5vw;
  height: 8.5vw;
  font-size: 16px;
}


.icon{
    font-size: 4vw;
    padding: 6px;
    width: 17vw;
    height: 8vw;
    margin: 3px;
}

.text {
  padding: 1px 9px;
  margin-right: 2vw;
  font-size: 3.8vw;
}

.empty-layout{
  margin-bottom: 0px;
}

.colors img {
  margin-top: 0;
  margin-bottom: 10px;
}

.even div {
  display: inline-flex;
  width: 275px;
  justify-content: center
}
.even button {
  margin: 5px;
}

.subring1 {
  border: 4px solid #2FEAEA;
  padding: 13px;
}
.subring2 {
border: 4px solid #27F361;
padding: 13px;
}
.subring3 {
border: 4px solid #F2EA24;
padding: 13px;
}
.subring4 {
border: 4px solid #F26413;
padding: 13px;
}
.subring5 {
border: 4px solid #F50E0E;
padding: 13px;
}
.subring6 {
border: 4px solid #CE0BD2;
padding: 13px;
}
.subring7 {
border: 4px solid #057F27;
padding: 13px;
}
.subring8 {
border: 4px solid #0D86F7;
padding: 13px;
}
.subring9 {
border: 4px solid #8C8488;
padding: 13px;
}


}

@media (max-width:400px) {


.points > button {
  width: 24vw;
  height: 5vw;
}


.subring1 {
  padding: 10px;
}
.subring2 {
padding: 10px;
}
.subring3 {
padding: 10px;
}
.subring4 {
padding: 10px;
}
.subring5 {
padding: 10px;
}
.subring6 {
padding: 10px;
}
.subring7 {
padding: 10px;
}
.subring8 {
padding: 10px;
}
.subring9 {
padding: 10px;
}

}

@media (max-width:300px) {
  .subring1 {
    padding: 5px;
  }
  .subring2 {
  padding: 5px;
  }
  .subring3 {
  padding: 5px;
  }
  .subring4 {
  padding: 5px;
  }
  .subring5 {
  padding: 5px;
  }
  .subring6 {
  padding: 5px;
  }
  .subring7 {
  padding: 5px;
  }
  .subring8 {
  padding: 5px;
  }
  .subring9 {
  padding: 5px;
  }
  .even div {
    width: 132px;
  }

}


@media (max-width:350px) {

  .even div {
    width: 132px;
  }

}





/* section2 */
.empty-layout{
    box-sizing: border-box;
    background: rgba(6, 22, 45, 0.6);;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 10px;
    box-sizing: border-box; 
    padding: 20px;
    
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}



@media (max-width:1320px) {
  .empty-layout{
    padding: 5px;
    white-space: nowrap;
 }


}


.stakes{
  /* padding-bottom: 30px; */
  margin: 0 auto;
  Width: 450px;
 
}
.stakes-item{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 4px;
  
}


.bet1{
  width: 442px;
  display: block;
}
.children-container {
  width: 422px;
  height: 54px;
  background-color: #05284A;
  border-radius: 7px;
  display: inline-flex;
  margin: 10px;
  justify-content: center;
  align-items: center
}
  

.children-container .decrease {
color: #000;
background-color: #fff;
  width: 19.5px; 
  height: 19.5px;
  margin: 20px 10px;
  display: inline-block;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.135s all ease-in-out;
}

.children-container .decrease:hover {
  background-color: #000;
  color: #fff;
}
.children-container .increase {
  /* float: right; */
  color: #000;
  background-color: #fff;
  width: 19.5px; 
  height: 19.5px;
    margin: 20px 10px;
    display: inline-block;
    font-weight: 200px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.135s all ease-in-out;
}
.children-container .increase:hover {
  background-color: #000;
  color: #fff;
}
.children-container .number-container {
  display: inline-block;
  width: calc(100% - 64px);
  margin: 19px 0 10px 20px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.children-container .number-container .number {
  text-align: center;
  height: 50px;
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.stakes-contents{
  background-color: #2E40514D;
  border-radius: 4px;
}

.stakes-contents .amount ul{
  margin: 0 0 10px 0;
  padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.stakes-contents .amount ul span{
  margin-left: 10px;
  color: #fff;
  padding:  10px;
  width: 85px;
height: 44px;
  text-align: center;
  border-radius: 4px;
  background-color:#415364;
  text-decoration: none;
  display: inline;
}
.stakes-contents .amount ul span.active {
  background-color: #BF0068;

  color: white;
}

.hover.active {
  background-color: #BF0068;
  color: white;
}
.call.active {
  background-color: #BF0068;
  color: white;
}
.stakes-contents .amount ul span:first-child{
  margin-left: 0;

}


button {
  height: 40px;
  width: 450px;
  font-size: 20px;
  font-weight: 600;
  background-color: #434852;
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 0;
  margin: 7px 0;
}
@media (max-width:1420px){
  .bet1 {
    width: 32vw;
}
.children-container {
  width: 30.6vw;
}
button {
  width: 32.6vw;
}

}


@media (max-width:1280px){
      .bet1 {
        width: 34.6vw;
    }
    .children-container {
      width: 33.1vw;
    }

    button {
      width: 34.9vw;
    }

}


@media (max-width:1350px) {
  
  .stakes-item {
    display: block;
  }
  .bet1 {
    width: 54.7vw;
  }

  .children-container {
    width: 416px;
  }
  .stakes-contents .amount ul {
    justify-content: flex-start;
  }
  .stakes-contents .amount ul span {
    margin-left: 10px;
    margin-bottom: 14px;
  }
 
  button {
    width: 445px;
    height: 56px;
  }
  .stakes-contents .amount ul span:first-child{
    margin-left: 35px;
  
  }
  


}  

@media (max-width:650px) {

  
.sub-section h4 {
    text-align: center;
    font-size: 32px;
    padding-top: 20px;
    margin-top: 20px;
    color: #fff;
  }
  button {
    width: 75vw;
  }

  .children-container {
    width: 67vw;;
  }
     
} 
  
@media (max-width:550px) {

    .even button {
      width: 47vw;
    }
    
    .children-container {
      width: 83vw;
  }

  .stakes {
      Width: 90%;
  }
  .sub-section .stake2 {
    Width: 386px;
  }

  .stakes-contents .amount ul {
    width: 83vw;
  }
  button {
      font-size: 15px;
      width: 89vw;
      height: 37px; 
  } 
  
.ring1{
  border: 3px solid #2FEAEA;
}
.ring2{ 
  margin: 1px;
  height: 1vw;
  width: 1vw;
}
.ring3{
  border: 3px solid #27F361;

}
.ring4{ 
  margin: 1px;
  height: 1vw;
  width: 1vw;
}
.ring5{
  border: 3px solid #F2EA24; 
} 
.ring6{ 
  margin: 1px;
  height: 1vw;
  width: 1vw;
}

.ring7{
  border: 3px solid #F26413;
 
}
.ring8{
  margin: 1px;
  height: 1vw;
  width: 1vw;
}
.ring9{
  border: 3px solid #F50E0E;

}
.ring10{ 
  margin: 1px;
  height: 1vw;
  width: 1vw;
}

.ring11{
  border: 3px solid #CE0BD2;

}
.ring12{
  margin: 1px;
  height: 1vw;
  width: 1vw;
}

.ring13{
  border: 3px solid #057F27;
 
}
.ring14{
  margin: 1px;
  height: 1vw;
  width: 1vw;
}

.ring15{
  border: 3px solid #0D86F7;
 
}
.ring16{
  margin: 1px;
  height: 1vw;
  width: 1vw;
}
.ring17{
  border: 3px solid #8C8488; 
}
.ring18{
  margin: 1px;
  height: 1vw;
  width: 1vw;

}
    .colors{
width: 100%;
    }
}


@media (max-width:450px) {

.sub-section .stake2 {
  Width: 100%;
}




}



.sub-section{
  background:  rgba(6, 22, 45, 0.6);
width: 90%;
margin: 0 auto;
}

.sub-section h4 {
  margin-bottom: 0;
  text-align: center;
  font-size: 35px;
  padding: 35px 0;
  color: #fff;
}

.sub-rings{
  width: 70%;
  margin: 0 auto;
display: flex;
justify-content: space-evenly;
margin-bottom: 5vw;
}

.sub-rings img{
  width: 4.5vw;
  margin-right: 7px;

}



.odds .magic2{
  display: flex;
  margin-bottom: 5.8vw;
  justify-content: space-evenly;
}
.even h3{
  text-transform: uppercase;
  font-weight: 600;
  text-align: start;
  color: #fff;
  font-size: 23px;
  line-height: 10.89px;
}

.sub-section .start{
  text-align: start;
}
.active {
  cursor: pointer;
  background-color: #BF0068;
  color: white;
}

.even button {
  text-transform: capitalize;
  border-radius: 4px;
  background: #415364;
  color: #fff;
  border: none;
  width: 15vw;
  height: 50px;
  font-size: 17px;
}

.sub-section .stake2{
  margin: 0 auto;
    Width: 450px;
     margin-top: 60px;
     padding-bottom: 30px;
     
}


@media (max-width:960px) {

  .odds{
      display: block;
  }
  .last{
    padding-bottom: 20px;
  }
  .odds .magic h3{
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        color: #fff;
        font-size: 25px;
  }
  .magic2 {
   display: flex;
   justify-content: space-evenly;
  }
  .even button {
    /* width: 100%; */
    margin-left: 8px;
   
}
.even div{
  display: flex;
  margin-left: 10px;
}


}

@media (max-width:590px) {

.footable > thead > tr > th, .footable > thead > tr > td {
  position: relative;
  font-size: 16px;
}

.inside2 {
  font-size: 14px;
}

.inside {
  font-size: 14px;
}
  .even button {
    width: 21vw;
    height: 33px;
    font-size: 13px;
   
  }
  .even div {
    margin: 0;
    width: 184px;
}
.footable > thead > tr > th, .footable > thead > tr > td {
  font-size: 18px;
}
.sub-rings img {
  width: 5vw;
}

.odds .magic h3 {
  font-size: 16px;
}

.sub-section h4 {
  font-size: 16px;
  padding: 9px 0;
}
.stakes-contents .amount ul span {
  padding: 0px;
  height: 23px;
}

.baby-green{
  margin: 3px;
}

.Baby-Blue{
  margin: 3px;
}
.yellow{
  margin: 3px;
}
.orange{
  margin: 3px;
}
.red{margin: 3px;
}
.pink{
  margin: 3px;
}
.green{margin: 3px;
}
.blue{
  margin: 3px;
}
.gray{
  margin: 3px;
}

.points > button {
  font-size: 12px;
  width: 26vw;
  height: 7vw;
  margin-top: 8px;
}
.point-layout {
  padding: 0;
}
.icon {
  font-size: 3vw;
  padding: 0px;
  height: 7vw;
  margin: 2px;
}
.text {
  padding: 2px 5px;
  font-size: 2.8vw;
}
.nav > .nav-links > div > p {
  font-size: 16px;
}
.nav > .nav-links > div > span {
  color: #BF0068;
  font-size: 14px;
}

}
  






.table-btn{
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 0 auto;

}


.table-btn span {
  color: #fff;
  height: 50px;
  width: 43vw;
  margin: 35px 10px;
  padding: 10px;
  border-radius: 4px;
  background: #3E5055;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.89px;
  text-align: center;
  text-transform: uppercase;
}

.table-btn span.active{
background: #BF0068;
}


@media (max-width:650px) {
  .footable > thead > tr > th, .footable > thead > tr > td {
    
    font-size: 7vw;
  }

  .sub-section{
  width: 95%;

  }
  .footable {
    width: 95%;
    }
  .table-btn{
    width: 95%;
  }
  

  .table-btn span {
    width: 75vw;
    height: 30px;
    margin: 10px 0 10px 5px;
    padding: 0px;
    font-size: 14px;
  }
  

  .sub-section h4 {
    padding-top:5px ;
  }
} 





.footable > thead > tr > th, .footable > thead > tr > td {
  position: relative;
  /* font-size: 28px; */
 

}

.footable {
/* padding: 30px 0 30px 0; */
  border-spacing: 0;
  width: 90%;
  margin: 0 auto;
  font-family: 'trebuchet MS' , 'Lucida sans' , Arial;
  font-size: 14px;
  color: #fff;
} 
.footable > tbody > tr {
  height:55px ;
  font-size: 19px;

}

.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
  cursor: pointer;
}

.footable > tbody > tr > td, .footable > thead > tr > th {
  padding: 10px;
  text-align: left;
}


.footable > thead > tr > th, .footable > thead > tr > td {
  border-bottom:2px solid #BF0068;
  color: #fff;
  
}


